<html>

<head>
  <meta charset="utf- ">
  <meta name="viewport" content="width=device-width,
  initial-scale= , shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGEfJTGXwEOngsVZt27NXFoaoApmYm81i\uXoPkFOJwJERdknLPMO"
  crossorigin="anonymous">
   <title>{% block title %}Quote App{% endblock title %}</title>

</head>

<body>
  <h2>New post</h2>
  <form method= "POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}

    <div class="form-group">
      <label for="examplequote">Enter quote</label>
      <input type="text" class="form-control" name="examplequote" id="examplequote" placeholder="Enter quote">
    </div>
    <div class="form-group">
      <label for="exampleno">enter no</label>
      <input type="number" class="form-control" name="exampleno" id="exampleno" placeholder="Sr no">
    </div>
    <div class="form-group">
      <label for="exampleauthor">Enter author</label>
      <input type="text" class="form-control" name="exampleauthor" id="exampleauthor" placeholder="Enter author">
    </div>
    <div class="form-group">
      <label for="examplecategory">Enter category</label>
      <input type="text" class="form-control" name="examplecategory" id="examplecategory" placeholder="Enter category">
    </div>
    <button type="submit" class="save btn btn-primary">Submit</button>

  </form>


</body>
