<!doctype html>
<html lang="en">
<head>
  <meta charset="utf- ">
  <meta name="viewport" content="width=device-width,
  initial-scale= , shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGEfJTGXwEOngsVZt27NXFoaoApmYm81i\uXoPkFOJwJERdknLPMO"
  crossorigin="anonymous">
   <title>{% block title %}Quote App{% endblock title %}</title>
</head>

<body>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Sr.no</th>
          <th scope="col">Quote</th>
          <th scope="col">Category</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        {% for quote in quotes %}
        <div class="quote-entry">
          <tr>
            <td>{{quote.no}}</td>
            <td><a href="{% url 'quote' quote.pk %}">{{quote.quote}}</a></td>
            <td>{{quote.category}}</td>
            <td>{{quote.author}}</td>


          </tr>
        </div>
        {% endfor %}


      </tbody>
    </table>
  </div>
</body>
</html>
