{% load static %}

<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/quote_detail.css' %}" >

<!-- Include the above in your HEAD tag ---------->

</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="box">
	<i class="fa fa-quote-left fa2" aria-hidden="true"></i>
	<div class="text">
		<i class="fa fa-quote-right fa1" aria-hidden="true"></i>
    {% for quote in quotes %}
		<div class = quote-entry>
			<h1>{{quote.author}}</h1>
			<p>{{quote.quote}}</p>
		</div>
   {% endfor %}
	</div>
</div>
</body>

</html>
